/var/bootstrap.php.cache
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/var/SymfonyRequirements.php
/build/
/vendor/

/web/app_dev.php
/web/bundles/
/web/config.php
/web/

sftp-config.json