# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: '%env(DB_HOST)%'
    database_port: ~
    database_name: '%env(DB_NAME)%'
    database_user: '%env(DB_USER)%'
    database_password: '%env(DB_PASS)%'
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: sendmail
    mailer_host: '%env(MAIL_HOST)%'
    mailer_user: '%env(MAIL_USER)%'
    mailer_password: '%env(MAIL_PASS)%'    
    mailer_port: '%env(MAIL_PORT)%'

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt
