.switch{
	margin: 10px 0;
}

.switch label .lever{
	margin-left: 5px;
}

.contenedor-botones{
	margin-top: 30px;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.contenedor-botones > div{
	margin-right: 10px;
	margin-bottom: 10px;
}

.contenedor-botones div:last-of-type{
	margin-right: 0;
}

.modal{
	text-align: center;
}

.modal .contenedor-botones{
	margin-top: 20px;
}

#permisos{
	margin-top: 20px;
}